#root {
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  color: #2b2b2b;
  background-color: var(--primary-color);
}

.toggle-empty-values-btn,
a {
  cursor: pointer;
}

/* WAVE BAKGRUNN */
.wave {
  width: 100%;
  background-color: #fff;
}

.wave-top {
  margin-top: -75px;
}

/* Unngå overlapp av header bildet*/
.header {
  margin-bottom: 4.5rem;
}

/* HEADINGS */
h2 {
  font-size: 1rem !important;
  color: #fff !important;
}

/* NAVBAR */
nav {
  background-color: var(--primary-color) !important;
}

.navbar {
  box-shadow: var(--primary-box-shadow);
  padding: 1rem;
}

.dropdown-menu {
  background-color: #fff !important;
  color: var(--primary-color) !important;
}

a.dropdown-item:hover {
  background-color: var(--secondary-color) !important;
  color: #fff;
}

a {
  font-weight: bolder !important;
}

a:hover {
  border-bottom: 2px solid var(--secondary-color);
  color: #ffffff44;
}

/* INFO SEKSJON */
.info-row {
  background-color: #fff;
}

/* FORM */
form {
  padding-bottom: 3rem;
}

.menu-dropdown {
  height: 270px;
}

/* Valgt option */
.css-tr4s17-option {
  background-color: var(--secondary-color) !important;
}

/* Hover på option */
.css-tr4s17-option:hover {
  background-color: #9fd0ef8d !important;
}

/* Select option som er i fokus */
.css-d7l1ni-option {
  background-color: #9fd0ef70 !important;
}

/* Søkeikon på innsiden av søkebar */
.css-1xc3v61-indicatorContainer {
  fill: hsl(0, 0%, 80%);
}

/* Kryss i søkebar */
.css-12a83d4-MultiValueRemove,
.css-tj5bde-Svg {
  color: rgba(255, 30, 30, 0.342);
}

/* Valgte verdier i søkebar */
.css-1p3m7a8-multiValue {
  background-color: #9fd0ef8d !important;
}

/* TABLE STYLES*/
table {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.table-container {
  background-color: #fff;
}

.table-info {
  background-color: var(--secondary-color) !important;
  color: #fff !important;
  padding: 0.7rem;
}

.inner-th {
  background-color: var(--primary-color) !important;
  color: #fff;
  border-bottom: thin solid rgba(0, 0, 0, 0.042) !important;
  border-inline: thin solid rgba(0, 0, 0, 0.042) !important;
  padding-block: 0.5rem;
  width: 10%;
}

tr,
td {
  border: thin solid rgba(0, 0, 0, 0.042) !important;
}

tr:last-child > .region-name-th {
  border-bottom-left-radius: 5px;
}

tr:first-of-type th:nth-of-type(1) {
  border-top-left-radius: 5px;
}

tr:first-of-type th:nth-of-type(2) {
  border-top-right-radius: 5px;
}

.data-btn {
  width: 50%;
  height: 150px;
  padding-block: 3rem !important;
  background-color: var(--secondary-color) !important;
  color: #ffffff !important;
}

.region-name-th {
  width: 20%;
}

.bg-light-blue {
  background-color: #f1f8ff;
}

/* LINJE GRAF */
.chart-section {
  background-color: #fff;
}

.chart-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: auto;
  height: 65vh;
  width: 80vw;
}

/* KOLONNER */
.år-col,
.statistikk-col,
.region-col,
.tabell-col {
  background: rgba(255, 255, 255, 0.26);
  border-radius: 16px;
  box-shadow: var(--primary-box-shadow);
  backdrop-filter: blur(2.1px);
  -webkit-backdrop-filter: blur(2.1px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1rem;
  margin-inline: 0.2rem;
}

.badge {
  background-color: #fff;
}

#empty-values-badge {
  background-color: var(--secondary-color) !important;
}

/* CARDS */
.card {
  padding: 1rem;
  background-color: var(--primary-color) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border: #ffffff22 solid 1px !important;
}

.card-header {
  background-color: rgba(255, 255, 255, 0.26) !important;
  border-radius: 16px;
  box-shadow: var(--primary-box-shadow);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-body {
  width: 75%;
}

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  .chart-container {
    height: 40vw;
  }
}
