:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary-color: #7dbfeb;
  --secondary-color: #f13ea7;
  --primary-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.red {
  color: #ff3434;
}
